# =========================
# Rust build artifacts
# =========================
/target/

# =========================
# Cargo lock file
# =========================
Cargo.lock

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
